<% provide(:title, t('views.shared.navbar.about_us')) %>
<div class="container-fluid">
  <h1>About us</h1>
  <p>
    Incorporated in 1987 providing services in Information Technology (IT), with emphsis on the following areas:
  </p>

  <p>
    Business Intelligence (BI)
  </p>

  <p>
    Software Development
  </p>

  <p>
    IT consulting
  </p>

  <p>
    Enterprise Resource Planning (ERP)
  </p>
  <p>
    We are focused on providing solutions that help decision makers drive business performance, while adapting to changing business conditions and enforcing corporate governance. Our solutions enable knowledge workers to improve their understanding through analysis that enables data driven decision making which in turn can have a dramatic bottom-line impact on the business.
  </p>

  <h3>Recent milestones</h3>

  <p>
    2012 - Developed a property price valuation tool for the Icelandic market.
  </p>

  <p>
    2013 - Developed a property rent price valuation tool for the Icelandic market.
  </p>

  <p>
    2014 - Developed data support solutions for a Six Sigma, Lean project at the Housing Finance Fund Using Microsoft BI tools.
  </p>

  <p>
    2014 - Property rent price valuation tool ported to the web.
  </p>

</div>
