<div class="container-fluid">
  <h1>Um okkur</h1>
  <p>
    Fyrirtækið var stofnað árið 1987 til að veita þjónustu í upplýsingatækni (IT), með áherslu á eftirfarandi svið:
  </p>

  <p>
    Viðskiptagreind (BI)
  </p>

  <p>
    Hugbúnaðarþjónustu
  </p>

  <p>
    Ráðgjöf og þjónustu
  </p>

  <p>
    Viðskiptahugbúnað
  </p>
  <p>
    Við leggjum áherslu á að veita lausnir sem hjálpa stjórnendum að bæta rekstrarafkomu þegar aðlögunar er þörf vegna breytinga í rekstarumhverfinu og framfylgja þannig góðum stjórnunarháttum. Lausnir okkar gera starfsmönnum kleift að auka skilning sinn í gegnum greiningu sem leiðir til ákvarðanatöku byggða á gögnum sem þannig eykur arðsemi rekstursins.
  </p>

  <h3>Nýlegir áfangar:</h3>

  <p>
    2012 - Þróaður kaupgrunnur Kaupverð til að ákvarða markaðsverð á eignum á Íslandi.
  </p>

  <p>
    2013 - Þróaður leigugrunnur Leiguverð til að ákvarða leiguverð á eignum á Íslandi.
  </p>

  <p>
    2014 - Þróaðar lausnir fyrir Six Sigma, Lean verkefni hjá Íbúðalánasjóði með Microsoft BI tólum.
  </p>

  <p>
    2014 - Leigugrunnur fluttur á vefinn.
  </p>

</div>
